* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
input {
  border: none;
}
.bg {
  background: url(../img/802.png);
  height: 800px;
}
.bg .bg-text {
  position: absolute;
  left: 40%;
  top: 25%;
  text-align: center;
}
.bg .bg-text h2 {
  font-size: 36px;
  color: #185ea6;
  font-weight: bolder;
  font-family: '微软雅黑';
  letter-spacing: 3px;
}
.bg .bg-text p {
  font-size: 20px;
  color: #9ab6cd;
  font-family: arial;
  letter-spacing: 1px;
}
.main {
  width: 100%;
  height: 1313px;
}
.main .main-content {
  width: 1200px;
  background: #fff;
  height: 1251px;
  border: 1px solid #e5e5e5;
  margin: -475px auto 0;
}
.main .main-content .left-nav {
  float: left;
  margin: 10px 0 0 15px;
}
.main .main-content .left-nav h3 {
  background: url(../img/803.png);
  text-align: center;
  font-size: 24px;
  height: 39px;
  line-height: 39px;
  color: #185ea6;
}
.main .main-content .left-nav li {
  height: 50px;
  line-height: 50px;
}
.main .main-content .left-nav li img {
  padding: 0 12px 0 37px;
}
.main .main-content .left-nav li a {
  color: #666;
}
.main .main-content .left-nav li .user {
  width: 185px;
  height: 31px;
  line-height: 31px;
  background: #4277ad;
  margin-top: 8px;
}
.main .main-content .left-nav li .user .blue-img {
  color: #fff;
  line-height: 31px;
  text-align: center;
}
.main .main-content .left-nav .check {
  margin-bottom: -11px;
}
.main .main-content .left-nav .box {
  width: 185px;
  height: 58px;
  background: #4277ad;
  margin-top: 10px;
  color: #fff;
}
.main .main-content .left-nav .box img {
  float: left;
  margin: 11px 13px 11px 18px;
}
.main .main-content .left-nav .box .txt {
  padding-top: 14px;
}
.main .main-content .left-nav .box .txt h4 {
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
}
.main .main-content .left-nav .box .txt p {
  font-size: 10px ;
  line-height: 13px;
}
.main .main-content .right-line {
  width: 1px;
  height: 583px;
  background: #eaeaea;
  margin: 9px 24px 0 25px;
  float: left;
}
.main .main-content .right-news {
  margin-left: 38px;
  width: 867px;
  float: left;
}
.main .main-content .right-news .title {
  height: 27px;
  line-height: 27px;
  padding-top: 19px;
  border-bottom: 1px solid #d2d2d2;
  font-family: "微软雅黑";
  font-size: 14px;
}
.main .main-content .right-news .title .one {
  color: #7a7a7a;
}
.main .main-content .right-news .title .two {
  color: #979797;
}
.main .main-content .right-news .title .three {
  color: #d4a022;
}
.main .main-content .right-news .text {
  padding-top: 10px;
}
.main .main-content .right-news .text .news-text {
  padding-top: 21px;
}
.main .main-content .right-news .text .news-text .text-title {
  height: 18px;
  line-height: 18px;
  font-family: "微软雅黑";
  font-size: 14px;
  padding-left: 14px;
  border-bottom: 2px solid #d9e1e7;
}
.main .main-content .right-news .text .news-text .text-title .case-title {
  color: #121212;
}
.main .main-content .right-news .text .news-text .text-title span {
  color: #c2c2c2;
}
.main .main-content .right-news .text .news-text .more-display {
  margin-left: 810px;
  line-height: 20px;
  font-family: arial;
  font-size: 12px;
}
.main .main-content .right-news .text .news-text .more-display a {
  color: #e1e1e1;
}
.main .main-content .right-news .text .news-text .more-display span {
  color: #afc8de;
}
.main .main-content .right-news .text .news-text ul {
  padding-top: 15px;
  height: 314px;
}
.main .main-content .right-news .text .news-text ul li {
  float: left;
  margin-right: 20px;
}
.main .main-content .right-news .text .news-text ul li p {
  text-align: center;
  line-height: 39px;
  font-family: "微软雅黑";
  font-size: 12px;
  color: #74a8cb;
}
.main .main-content .right-news .text .news-text ul .last {
  margin-right: 0;
}
