.banner {
  background: url(../img/3_04.png);
  height: 650px;
}
.main {
  width: 100vw;
}
.main .main-top {
  width: 100%;
  height: 154px;
  background: url(../img/3_0.png) repeat;
  border-top: 1px solid #dbdbdb;
}
.main .main-top ul {
  width: 62%;
  margin: 0 auto;
}
.main .main-top ul li {
  width: 25%;
  float: left;
  text-align: center;
}
.main .main-top ul li a {
  color: #01599e;
  font-size: 18px;
  display: block;
  line-height: 43px;
  height: 43px;
  padding-top: 41px;
  font-weight: bolder;
}
.main .main-top ul li .line {
  width: 50px;
  height: 3px;
  background: #01599e;
  display: inline-block;
}
.main .main-top ul li p {
  color: #c3c0c0;
  font-size: 16px;
  line-height: 42px;
}
.main .main-center {
  width: 100%;
  height: 462px;
}
.main .main-center .img-left {
  width: 50%;
  float: left;
  height: 462px;
  background: url(../img/3_06.png) no-repeat;
}
.main .main-center .img-right {
  width: 50%;
  height: 462px;
  float: left;
  background: url(../img/3_08.png) no-repeat;
}
.main .main-center .img-right .img-text {
  padding: 68px 25% 0 11%;
}
.main .main-center .img-right .img-text h4 {
  font-family: "微软雅黑";
  font-size: 24px;
  color: #fff;
  line-height: 50px;
  width: 17%;
  border-bottom: 5px solid #ebc313;
}
.main .main-center .img-right .img-text p {
  font-size: 17px;
  font-weight: normal;
  font-family: "微软雅黑";
  color: #eaedf2;
  line-height: 30px;
  text-indent: 2em;
  padding-top: 21px;
}
.main .main-center .img-right .img-text ul {
  width: 615px;
  height: 56px;
}
.main .main-center .img-right .img-text ul li {
  width: 6%;
  height: 2px;
  background: #fff;
  float: left;
  margin: 28px 3% 26px 0;
}
.main .main-center .img-right .img-text ul .first {
  background: #ebc313;
}
.main .main-center .img-right .img-text .more {
  width: 154px;
  height: 30px;
  background: #ebc313;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 19px;
  font-weight: normal;
  font-family: "arial";
}
.main .main-new {
  background: url(../img/3_01_02.jpg) no-repeat;
  height: 640px;
}
.main .main-new .new-inner {
  width: 62%;
  margin: 0 auto;
}
.main .main-new .new-inner .new-top {
  padding-top: 155px;
  width: 47%;
}
.main .main-new .new-inner .new-left {
  float: left;
}
.main .main-new .new-inner .new-left .new-img {
  position: relative;
}
.main .main-new .new-inner .new-left .new-img img {
  width: 100%;
  padding-bottom: 17px;
  border-bottom: 1px solid #bfbfbf;
}
.main .main-new .new-inner .new-left .new-img .num-time {
  width: 80px;
  height: 80px;
  background: #015a9e;
  position: absolute;
  left: 36px;
  top: 0;
  text-align: center;
  color: #FFFFFF;
}
.main .main-new .new-inner .new-left .new-img .num-time h1 {
  font-size: 44px;
  line-height: 60px;
}
.main .main-new .new-inner .new-left .new-img .num-time .year {
  font-size: 12px;
  color: #FFFFFF;
  padding-top: 0px;
  line-height: 0px;
}
.main .main-new .new-inner .new-left h4 {
  padding-top: 11px;
  line-height: 35px;
  color: #474747;
  font-size: 23px;
  font-weight: bolder;
}
.main .main-new .new-inner .new-left p {
  padding-top: 10px;
  line-height: 32px;
  font-size: 16px;
  color: #8d8d8d;
  font-family: "微软雅黑";
}
.main .main-new .new-inner .new-left .more {
  width: 154px;
  height: 30px;
  background: #ebc313;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 19px;
  font-weight: normal;
  font-family: "arial";
  margin-top: 15px;
}
.main .main-new .new-inner .new-right {
  float: right;
}
.main .main-new .new-inner .new-right li {
  height: 98px;
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 18px;
}
.main .main-new .new-inner .new-right li .li-time {
  float: left;
  width: 80px;
  height: 80px;
  background: #015a9e;
  text-align: center;
  color: #FFFFFF;
}
.main .main-new .new-inner .new-right li .li-time h1 {
  font-size: 44px;
  line-height: 60px;
}
.main .main-new .new-inner .new-right li .li-time .year {
  font-size: 12px;
  color: #FFFFFF;
  font-family: "微软雅黑";
  padding-top: 0px;
  line-height: 0px;
}
.main .main-new .new-inner .new-right li .li-text {
  float: right;
  width: 79%;
}
.main .main-new .new-inner .new-right li .li-text h3 {
  line-height: 26px;
  padding-bottom: 2px;
  color: #484848;
  font-family: "微软雅黑";
  font-size: 18px;
}
.main .main-new .new-inner .new-right li .li-text p {
  font-family: "微软雅黑";
  font-size: 15px;
  color: #666;
  line-height: 24px;
}
.main .main-display {
  height: 540px;
  background: url(../img/3_01_03.jpg) no-repeat;
}
.main .main-display .display-inner {
  width: 62%;
  margin: 0 auto;
}
.main .main-display .display-inner ul {
  padding-top: 155px;
}
.main .main-display .display-inner ul li {
  float: left;
  margin: 0 1.7%;
  border: 1px solid #01589d;
  width: 21%;
  height: 328px;
  text-align: center;
}
.main .main-display .display-inner ul li h5 {
  font-family: "微软雅黑";
  font-weight: normal;
  line-height: 28px;
  padding-top: 21px;
  font-size: 18px;
  color: #01589f;
}
.main .main-display .display-inner ul li .li-bottom {
  font-family: arial;
  font-size: 15px;
  color: #bababa;
  line-height: 24px;
  padding-bottom: 17px;
}
.main .main-display .display-inner ul li .center-img {
  width: 96%;
}
.main .main-display .display-inner ul li .img-line {
  padding-top: 25px;
}
.main .main-agent {
  height: 599px;
  background: url(../img/3_01_04.png) no-repeat;
}
.main .main-agent ul {
  width: 62%;
  margin: 0 auto;
  padding-top: 154px;
}
.main .main-agent ul li {
  width: 23%;
  float: left;
  margin: 0 5%;
  text-align: center;
}
.main .main-agent ul li h4 {
  line-height: 65px;
  color: #025aa4;
  font-family: "微软雅黑";
  font-weight: bolder;
  font-size: 24px;
}
.main .main-agent ul li p {
  line-height: 30px;
  color: #8b929a;
  font-size: 17px;
  font-family: "微软雅黑";
}
.main-other {
  display: none;
}
.main-other .first {
  border-bottom: 8px solid #efefef;
}
.main-other .first .first-inner {
  width: 94%;
  margin: 0 auto;
}
.main-other .first .first-inner .first-title {
  margin: 24px 0 16px 0;
  line-height: 54px;
  padding-left: 24px;
  font-family: "微软雅黑";
  font-size: 26px;
  color: #fff;
  height: 54px;
  background: #015a9e;
}
.main-other .first .first-inner .first-title span {
  font-family: arial;
  font-size: 18px;
  color: #c3bfbe;
  padding-left: 8px;
}
.main-other .first .first-inner .first-center {
  width: 94%;
  height: 35%;
  padding: 15px 3% 20px 3%;
  border: 1px solid #999999;
}
.main-other .first .first-inner .first-center img {
  width: 100%;
}
.main-other .first .first-inner .first-center p {
  padding-top: 11px;
  line-height: 35px;
  text-indent: 2em;
  font-family: "微软雅黑";
  font-size: 18px;
  color: #989898;
}
.main-other .first .first-inner .first-center p span {
  color: #87a8cb;
  font-size: 18px;
  text-decoration: underline;
  padding-left: 5px;
}
.main-other .first .first-inner .first-bot {
  margin: 16px 0 24px 0;
  border: 1px solid #999999;
}
.main-other .first .first-inner .first-bot ul li {
  font-family: "微软雅黑";
  font-size: 26px;
  color: #00599d;
  line-height: 54px;
  padding-left: 24px;
  border-bottom: 1px solid #999999;
}
.main-other .first .first-inner .first-bot ul li span {
  font-family: arial;
  font-size: 18px;
  color: #c3bfbe;
  padding-left: 8px;
}
.main-other .first .first-inner .first-bot ul .li-last {
  border-bottom: none;
}
.main-other .two {
  border-bottom: 8px solid #efefef;
}
.main-other .two .two-inner {
  width: 94%;
  margin: 0 auto;
}
.main-other .two .two-inner .two-title {
  height: 74px;
  padding-top: 24px;
  border-bottom: 1px solid #999999;
}
.main-other .two .two-inner .two-title span {
  float: left;
  font-family: arial;
  font-size: 57px;
  font-weight: bolder;
  color: #0159a0;
}
.main-other .two .two-inner .two-title .right-center {
  float: left;
}
.main-other .two .two-inner .two-title .right-center h3 {
  font-family: "微软雅黑";
  font-size: 26px;
  color: #0159a0;
}
.main-other .two .two-inner .two-title .right-center p {
  font-family: arial;
  font-size: 18px;
  color: #c3bfbe;
}
.main-other .two .two-inner .two-center {
  height: 162px;
  padding: 16px 0;
}
.main-other .two .two-inner .two-center img {
  float: left;
}
.main-other .two .two-inner .two-center .right-text {
  float: left;
  width: 424px;
  padding-left: 17px;
}
.main-other .two .two-inner .two-center .right-text h3 {
  line-height: 36px;
  color: #666;
  font-family: "微软雅黑";
  font-size: 24px;
  font-weight: normal;
}
.main-other .two .two-inner .two-center .right-text p {
  line-height: 32px;
  padding-top: 6px;
  color: #9a9a9a;
  font-family: "微软雅黑";
  font-size: 22px;
}
.main-other .two .two-inner .two-center .right-text p span {
  color: #87a8cb;
  font-size: 18px;
  text-decoration: underline;
  padding-left: 5px;
}
.main-other .two .two-inner .two-bot ul li {
  border-top: 1px solid #999;
  padding-top: 9px;
}
.main-other .two .two-inner .two-bot ul li h6 {
  line-height: 30px;
  color: #999;
  font-size: 16px;
}
.main-other .two .two-inner .two-bot ul li p {
  line-height: 40px;
  color: #666;
  font-size: 24px;
  font-family: "微软雅黑";
  padding-bottom: 8px;
}
.main-other .three {
  border-bottom: 8px solid #efefef;
}
.main-other .three .three-inner {
  width: 94%;
  margin: 0 auto;
}
.main-other .three .three-inner .three-title {
  height: 74px;
  padding-top: 24px;
  border-bottom: 1px solid #999999;
}
.main-other .three .three-inner .three-title span {
  float: left;
  font-family: arial;
  font-size: 57px;
  font-weight: bolder;
  color: #0159a0;
}
.main-other .three .three-inner .three-title .right-center {
  float: left;
}
.main-other .three .three-inner .three-title .right-center h3 {
  font-family: "微软雅黑";
  font-size: 26px;
  color: #0159a0;
}
.main-other .three .three-inner .three-title .right-center p {
  font-family: arial;
  font-size: 18px;
  color: #c3bfbe;
}
.main-other .three .three-inner .three-text {
  height: 589px;
}
.main-other .three .three-inner .three-text ul li {
  float: left;
}
.main-other .three .three-inner .three-text ul li h5 {
  line-height: 51px;
  font-family: "微软雅黑";
  font-size: 25px;
  color: #00599d;
  font-weight: normal;
}
.main-other .three .three-inner .three-text ul li h5 span {
  color: #b5b5b5;
  font-size: 18px;
  padding-left: 9px;
}
.main-other .three .three-inner .three-text ul li img {
  margin: 0 8px;
}
.main-other .four .four-inner {
  width: 94%;
  margin: 0 auto;
}
.main-other .four .four-inner .four-title {
  height: 74px;
  padding-top: 24px;
  border-bottom: 1px solid #999999;
}
.main-other .four .four-inner .four-title span {
  float: left;
  font-family: arial;
  font-size: 57px;
  font-weight: bolder;
  color: #0159a0;
}
.main-other .four .four-inner .four-title .right-center {
  float: left;
}
.main-other .four .four-inner .four-title .right-center h3 {
  font-family: "微软雅黑";
  font-size: 26px;
  color: #0159a0;
}
.main-other .four .four-inner .four-title .right-center p {
  font-family: arial;
  font-size: 18px;
  color: #c3bfbe;
}
.main-other .four .four-inner .four-center {
  width: 95%;
  margin: 0 auto;
  padding: 25px 0 10px 0;
  height: 88px;
}
.main-other .four .four-inner .four-center .four-left {
  height: 88px;
  float: left;
  width: 46%;
  background: #015a9e;
  color: #fff;
  margin: 0 3% 0 2%;
}
.main-other .four .four-inner .four-center .four-left img {
  float: left;
  padding: 12px 0 0 18px;
}
.main-other .four .four-inner .four-center .four-left p {
  float: left;
  line-height: 88px;
  font-size: 26px;
  font-family: "微软雅黑";
  margin-left: 56px;
}
.main-other .four .four-inner .four-center .four-right {
  height: 88px;
  float: left;
  width: 46%;
  background: #015a9e;
  color: #fff;
}
.main-other .four .four-inner .four-center .four-right img {
  float: left;
  padding: 12px 0 0 18px;
}
.main-other .four .four-inner .four-center .four-right p {
  float: left;
  line-height: 88px;
  font-size: 26px;
  font-family: "微软雅黑";
  padding-left: 56px;
}
.main-other .four .four-inner .four-bot {
  width: 91%;
  margin-left: 29px;
  line-height: 88px;
  height: 88px;
  background: #015a9e;
  color: #fff;
  text-align: center;
}
.main-other .to-top {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #efefef;
  margin-top: 24px;
}
.main-other .to-top .to-inner {
  width: 20%;
  margin: 0 auto;
}
.main-other .to-top .to-inner img {
  float: left;
  padding-top: 16px;
}
.main-other .to-top .to-inner p {
  color: #01589d;
  float: left;
  line-height: 80px;
  font-size: 22px;
  font-family: "微软雅黑";
  padding-left: 14px;
}
